@page "/"
@using System.ComponentModel.DataAnnotations
@using PCBuilder.Components.Account.Shared
@using PCBuilder.Context
@using PCBuilder.Model
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@inject NavigationManager NavigationManager
@inject ComponentProvider ComponentProvider
@inject ShopBasket Basket;

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="card-body">
        <h5 class="card-title">Component</h5>
        <p class="card-text">All kind of GPU</p>
        <a @onclick="GoToComponent" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
@code {


    private void GoToComponent()
    {
        NavigationManager.NavigateTo("/components");
    }
}
