@page "/"
@using System.ComponentModel.DataAnnotations
@using PCBuilder.Components.Account.Shared
@using PCBuilder.Components.Shared
@using PCBuilder.Context
@using PCBuilder.Model
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@inject NavigationManager NavigationManager
@inject ComponentProvider ComponentProvider
@inject ShopBasket Basket;

<PageTitle>PC Builder</PageTitle>


<div class="hero-section text-white text-center py-5" style="background: linear-gradient(to bottom right, #7b4397, #dc2430);">
    <div class="container">
        <h1 class="display-4 fw-bold">PC Building for Everyone</h1>
        <p class="lead">BuildCores is a modern PC building platform that allows you to design your dream PC with ease. Find the best-performing parts at the cheapest prices.</p>
        <div class="mt-4">
            <a class="btn btn-primary btn-lg me-2" href="/builds" role="button">Start Building</a>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-lg-6 text-center">
            <div class="build-card p-3 bg-light shadow rounded">
                <h5>$1444.22</h5>
                <h6>Professional Editing Build</h6>
                <p>Intel Core i5-13600K, MSI VENTUS 2X OC GeForce RTX 4060 8 GB Video Card</p>
                <a href="/build/1" class="btn btn-outline-primary">View Build</a>
            </div>
        </div>
    </div>
</div>


@code {

   
}