@page "/basket"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using PCBuilder.Components.Account.Shared
@using PCBuilder.Model
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@inject ProtectedSessionStorage ProtectedSessionStorage
@inject ShopBasket Basket
@inject NavigationManager NavigationManager


<table class="table" style="background-color: white; vertical-align:middle;">
    <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            @if (IsEditable)
            {
                <th scope="col">Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Basket.GetItems())
        {
            <tr>
                <td scope="col">@item.Component.Name</td>
                <td scope="col">@item.Quantity</td>
                <td scope="col">@item.Component.Price.ToString("C")</td>
                @if (IsEditable)
                {
                    <td scope="col">
                        <button class="btn btn-outline-success mt-1 mt-md-0" @onclick="() => IncreaseQuantity(item)">➕</button>
                        <button class="btn btn-outline-primary mt-1 mt-md-0" @onclick="() => DecreaseQuantity(item)">➖</button>
                        <button class="btn btn-outline-danger mt-1 mt-md-0" @onclick="() => RemoveItems(item)">🗑</button>
                    </td>
                }
            </tr>
        }

    </tbody>
</table>
<div class="d-flex justify-content-between">
    <div>
        <button @onclick="GoToStore" class="btn btn-outline-primary">Back to components</button>
    </div>
    <div>
        <h4>Total Price: @(Basket.TotalPrice().ToString("C"))</h4>
    </div>
    <div>
        <button @onclick="GoToCheckout" class="btn btn-outline-primary">Checkout</button>
    </div>
</div>

@code {
    [Parameter]
    public bool IsEditable { get; set; } = true;


    protected override void OnInitialized()
    {
        Basket.OnCartUpdated += async () => await CartUpdated();
    }

    private async Task CartUpdated()
    {
        StateHasChanged();
        await ProtectedSessionStorage.SetAsync("cart", Basket.GetItems());
    }


    private void IncreaseQuantity(BasketItem item)
    {
        Basket.AddItem(item.Component, 1);
    }

    private void DecreaseQuantity(BasketItem item)
    {
        Basket.RemoveItem(item.Component, 1);
    }

    private void RemoveItems(BasketItem item)
    {
        Basket.RemoveItem(item.Component);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        StateHasChanged();
    }

    private void GoToCheckout()
    {
        NavigationManager.NavigateTo("/checkout");
    }
    private void GoToStore()
    {
        NavigationManager.NavigateTo("/components");
    }
}
